.option-mainDiv {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid rgba(255, 99, 71, 0.5);
  background-color: white;
}

.option-mainDiv:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(255, 99, 71, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.option-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #FF6347;
  color: white;
}

.option-text {
  padding: 1.5rem;
  width: 100%;
}

.right {
  background-color: #28a745;
}

.wrong {
  background-color: #dc3545;
}

#hud {
  display: flex;
  justify-content: space-between;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
}

#loadBar {
  width: 20rem;
  height: 4rem;
  border: 0.3rem solid tomato;
  margin-top: 1.5rem;
}

#loadBarFull {
  height: 3.4rem;
  background-color: tomato;
  width: 0%;
}

#spinner {
  border: 1.6rem solid white;
  border-radius: 50%;
  border-top: 1.6rem solid red;
  width: 12rem;
  height: 12rem;
  animation: spin 2s linear infinite;
}